{# templates/proj_start.html.twig #}

{% include 'proj/incl/proj_header.html.twig' %}


<body>
    {% include 'proj/incl/proj_nav.html.twig' %}

    <form class="start" method="post" action="">
        <p>
            <input type="input" name="name" placeholder="Player name (*)" required>
            <input type="input" name="numberOfQuests" placeholder="Number of quests" required>
        </p>
        <p>
            <button type="submit" name="startGame" value=""
                onClick="this.form.action='{{ path('proj/play_start_callback') }}';"
            >Start new game</button>
        </p>
    </form>

    <form class="start" method="get" action="">
        <p>
            <button type="submit" name="continueGame" value=""
                onClick="this.form.action='{{ path('proj/play') }}';"
            >Continue game</button>
            <button type="submit" name="resetGame" value=""
                onClick="this.form.action='{{ path('proj/play/reset') }}';"
            >Reset game</button>
        </p>
        
    </form>
    {% include 'proj/incl/proj_footer.html.twig' %}
</body>

</html>


