{# templates/proj_start.html.twig #}

{% include 'proj/proj_header.html.twig' %}


<body>
    {% include 'proj/proj_nav.html.twig' %}


    <div class="content-area">
        <div class="content">
            {% include 'incl/flash.html.twig' %}
            <h2>{{ heading }}</h2>
            {{ content|raw }}


            <div class="room">
                <div class="exit north"></div>
                <div class="exit west"></div>
                <div class="room-content">
                  Room Name
                </div>
                <div class="exit east"></div>
                <div class="exit south"></div>
              </div>
              

        </div>
    </div>

    {% include 'proj/proj_footer.html.twig' %}
</body>

</html>


