{# templates/proj_end.html.twig #}

{% include 'proj/incl/proj_header.html.twig' %}


<body>
    {% include 'proj/incl/proj_nav.html.twig' %}

    Game over!
    {% include 'proj/incl/proj_footer.html.twig' %}
    
</body>

</html>


