{# templates/proj_play.html.twig #}

{% include 'proj/incl/proj_header.html.twig' %}


<body>
    {% include 'proj/incl/proj_nav.html.twig' %}
    <p>
        Welcome {{ gameState.player.getName() }}
    </p>
    <p>
        Moves: {{ gameState.moves }}
    </p>

    {% include 'proj/incl/proj_room.html.twig' %}
    {% include 'proj/incl/proj_minimap.html.twig' %}
    {% include 'proj/incl/proj_inventory.html.twig' %}
    {% include 'proj/incl/proj_quests.html.twig' %}
    {% include 'proj/incl/proj_footer.html.twig' %}
</body>

</html>


