{# templates/proj_start.html.twig #}

{% include 'proj/proj_header.html.twig' %}


<body>
    {% include 'proj/proj_nav.html.twig' %}

      {{dump(grid)}}

          <div class="room-container">
            {% for row in grid %}
              {% for room in row %}
                {% set current = "" %}
                {% if (room == gameState.currentRoom)%}
                    {% set current = "current" %}
                {% endif %}
                <div class="mini-room {{ current }}">
                  
                  {% for direction, door in room.getDoors() %}
                    {% if (door) %}
                      <div class="exit {{ direction }}"></div>
                    {% endif %}
                  {% endfor %}

                  <div class="room-content">
                    <h3>{{ room.getName() }}</h3>
                  </div>
                </div>
              {% endfor %}


            {% endfor %}

          </div>



    {% include 'proj/proj_footer.html.twig' %}
</body>

</html>


