{# templates/proj_play.html.twig #}

{% include 'proj/proj_header.html.twig' %}


<body>
    {% include 'proj/proj_nav.html.twig' %}
    {% include 'proj/incl/proj_room.html.twig' %}
    {% include 'proj/incl/proj_minimap.html.twig' %}
    {% include 'proj/incl/proj_inventory.html.twig' %}
    {% include 'proj/proj_footer.html.twig' %}
</body>

</html>


