{# templates/proj_play.html.twig #}

{% include 'proj/incl/proj_header.html.twig' %}


<body>
    {% include 'proj/incl/proj_nav.html.twig' %}

    <div class="player-info">
        <p>
            Welcome {{ gameState.player.getName() }}! Current moves: {{ gameState.moves }}.
        </p>
    </div>
    
    {% include 'proj/incl/proj_room.html.twig' %}
    
    <div class="game-info">
        {% include 'proj/incl/proj_minimap.html.twig' %}
        {% include 'proj/incl/proj_inventory.html.twig' %}
        {% include 'proj/incl/proj_quests.html.twig' %}
    </div>
    
    

    {% include 'proj/incl/proj_footer.html.twig' %}
</body>

</html>


