{# templates/proj_end.html.twig #}

{% include 'proj/incl/proj_header.html.twig' %}


<body>
    {% include 'proj/incl/proj_nav.html.twig' %}

    <div class="player-info">
        <p>
            Game finished! Completed in {{ gameState.moves }} moves.
        </p>
    </div>

    


    {% include 'proj/incl/proj_footer.html.twig' %}
    
</body>

</html>


