{# templates/incl/nav.html.twig #}

<header class="header">
    <div class="header-content">
        <h1>Erik Sjöberg</h1>
        
        <nav class="nav">
            <a href="{{ path('home') }}">Hem</a>
            <a href="{{ path('about') }}">Om</a>
            <a href="{{ path('report') }}">Redovisning</a>
            <a href="{{ path('lucky') }}">Lucky</a>
        </nav>
    </div>
    
</header>


