{# templates/proj_nav.html.twig #}

<header class="header">
    <div class="header-content">
        <h1>{{ heading }}</h1>
        
        <nav class="nav">
            <a href="{{ path('home') }}">Back to Report</a>
            <a href="{{ path('proj') }}">Start screen</a>
        </nav>
    </div>
    
</header>


