{# templates/proj_minimap.html.twig #}


{% set maxColumns = gameState.grid[0]|length %}
{% set columnWidth = 100 / maxColumns %}


<div class="minimap-container" style="grid-template-columns: repeat({{ maxColumns }}, minmax(0, {{ columnWidth }}%))">

  
  {% for row in gameState.grid %}
    {% for room in row %}
      <div class="minimap-room {% if room == gameState.currentRoom %}minimap-current{% endif %}
                               {% if gameState.hint is not null and room == gameState.hint.getTargetRoom() %}minimap-roomhint{% endif %}
                               {% if gameState.hint is not null and room.containsItem(gameState.hint.getTargetItem()) %}minimap-itemhint{% endif %}">
      </div>
    {% endfor %}
  {% endfor %}
</div>
