{# templates/proj_nav.html.twig #}

<header class="header">
    <div class="header-content">
        <div class="top-banner">
            <h1>{{ heading }}</h1>
        </div>
        
        
        <nav class="menu">
            <a href="{{ path('home') }}" class="menu-button">Back to Report</a>
            <a href="{{ path('proj') }}" class="menu-button">Start screen</a>
            <a href="{{ path('proj/about') }}" class="menu-button">About</a>
        </nav>
    </div>
    
</header>


