@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import '../../../node_modules/normalize.css/normalize';

@import '../variables';
@import '../typography';
@import './proj-variables.scss';
@import './proj-forms.scss';
@import './proj-nav.scss';
@import './proj-rooms.scss';
@import './proj-gameinfo.scss';


* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', Arial, sans-serif;
  color: $font-color;
  font-size: 10px;
}

body {
  background-color: white;
  margin: auto;
  width: 800px;
}



// Start screen

.quest-limit {
  color: red;
}

.start {
  margin-top: 30px;
}


// Player info

.player-info {
  background-color: $secondary-color;
  padding: 5px;
  text-align: center;
  margin: 0;
}



/*
.test {
  grid-row: 3;
  padding: 10px;
  background-color: rgb(219, 219, 219);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75),
              inset 1px 1px 2px 0px rgba(255,255,255,0.75);
}*/

