@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import '../../../node_modules/normalize.css/normalize';

@import '../variables';
@import '../typography';
@import './proj-variables.scss';
@import './proj-forms.scss';
@import './proj-nav.scss';
@import './proj-rooms.scss';
@import './proj-gameinfo.scss';


* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', Arial, sans-serif;
  color: $font-color;
  font-size: 10px;
}

body {
  background-color: white;
  margin: auto;
  width: 800px;
}



// Start screen

.start {
  margin-top: 30px;
}


// Player info

.player-info {
  background-color: $secondary-color;
  padding: 5px;
  text-align: center;
  margin: 0;
}



.documentation {

  h3 {
    font-family: $font-stack;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
  }

  p {
    font-family: $font-stack;
    font-size: 18px;
  }
}
