.hero-area {
    background-color: $color-hero-area;
    position: relative;
    min-height: $block-min-height-desktop;
    height: $block-height-desktop;
    max-height: $block-max-height-desktop;
    margin-bottom: 1em;

    h2 {
        color: $font-color-white;
        margin: 0;
        text-align: center;
    }
}


.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.hero-line {
    margin-top: 20px;
    background-color: $font-color-white;
    height: 10px;
}
