.library-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
}

.library-table thead tr th {
    background-color: $color-header-bar;
    color: $font-color-white;
    text-align: left;
}

.library-table th,
.library-table td {
    padding: 12px 15px;
}

.library-table tbody tr {
    border-bottom: 1px solid #dddddd;
}


.library-table tbody tr:nth-of-type(even) {
    background-color: #fcf7ef;
}

.library-table tbody tr:last-of-type {
    border-bottom: 2px solid $color-header-bar;
}

.library-table tbody tr:hover {
    background-color: #f7ebd9;
}




