html {
    font-size: 100%;
    margin: 0;
}

body {
    line-height: 1.6em;
}

p,
td,
th,
li,
dd {
    font-size: 1.2em;    
}

p {
    margin-bottom: 1.2rem;
}

ul {
    margin: 0;
    padding: 1em;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

// h1 is only used in header-nav

h2 {
    font-size: 5.7em;
    line-height: 6.5rem;
    margin-top: 40px;
}

h3 {
    font-size: 1.7em;
    line-height: 1.9rem;
}

h4 {
    font-size: 1.2em;
    line-height: 1.4rem;
}

code {
    font-family: Consolas,"courier new";
    background-color: #f1f1f1;
    padding: 2px;
  }


@media (max-width: 560px) {

    h2 {
        margin-top: 75px;
    }
}

