{# templates/1col_nohero.html.twig #}

{% include 'incl/header.html.twig' %}


<body>
    {% include 'incl/nav.html.twig' %}


    <div class="content-area">
        <div class="content">
            <h2>{{ heading }}</h2>
            {{ content|raw }}
        </div>
    </div>

    {% include 'incl/footer.html.twig' %}
</body>

</html>


