{# templates/game_start.html.twig #}

{% include 'incl/header.html.twig' %}


<body>
    {% include 'incl/nav.html.twig' %}


    <div class="content-area">
        <div class="content">
            {% include 'incl/flash.html.twig' %}
            <h2>{{ heading }}</h2>
            {{ content|raw }}

            <form method="post" action="">
                <input type="input" name="player_name" placeholder="Your name...">
                <input type="submit" name="do_it" value="Play">
            </form>
        </div>
    </div>

    {% include 'incl/footer.html.twig' %}
</body>

</html>


