{# templates/game_start.html.twig #}

{% include 'incl/header.html.twig' %}


<body>
    {% include 'incl/nav.html.twig' %}


    <div class="content-area">
        <div class="content">
            {% include 'incl/flash.html.twig' %}
            <h2>{{ heading }}</h2>
            {{ content|raw }}

            <form method="post" action="" enctype="multipart/form-data">
                <p>
                    <input type="input" name="title" placeholder="Titel (*)" required>
                    <input type="input" name="author" placeholder="Författare">
                    <input type="input" name="isbn" placeholder="ISBN (*)" required>
                </p>
                <p>
                    <label>Bild:
                        <input type="file" name="picture" accept="image/*">
                    </label>
                </p>
                <p>
                    <input type="submit" name="add" value="Lägg till bok"
                        onClick="this.form.action='{{ path('library_add_callback') }}';"
                    >
                </p>
            </form>
        </div>
    </div>

    {% include 'incl/footer.html.twig' %}
</body>

</html>


