{# templates/game_start.html.twig #}

{% include 'incl/header.html.twig' %}


<body>
    {% include 'incl/nav.html.twig' %}


    <div class="content-area">
        <div class="content">
            {% include 'incl/flash.html.twig' %}
            <h2>{{ heading }}</h2>

            <form method="post" action="">
                {% for book in books %}
                        <input type="hidden" name="book_ids[]" value="{{ book.getId() }}">
                {% endfor %}
                <input type="submit" name="edit" value="Ja, ta bort"
                    onClick="this.form.action='{{ path('library_remove_callback') }}';"
                >
                <input type="submit" name="back" value="Nej, behåll"
                    onClick="this.form.action='{{ path('library') }}';this.form.method='get';"
                >
                
            </form>
        </div>
    </div>

    {% include 'incl/footer.html.twig' %}
</body>

</html>


